aiohttp
beautifulsoup4
python-dotenv
pytz
requests
python-telegram-bot
websockets
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
undetected_chromedriver
schedule
selenium
requestium
selenium-requests
pdfminer.six
DrissionPage
pyautogui
openai
pydantic
